<body>
<header>
  <div class="container-fluid" id="profile-gray" style="display: inline-block">
    <h1 id="profile-header-gray">&nbsp;&nbsp; Edit Page
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
        <i class="fas fa-chevron-left fontawsome_icon" id= "back-chevron-gray"></i>
      </a>
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
        <i class="fas fa-check fontawsome_icon" id="check-icon-gray"></i>
      </a>
    </h1>
  </div>
</header>
<br />
<div class="container-fluid">
  <br />
  <label>Page Name</label>
  <input [(ngModel)]="page.name" type="text" class="form-control" id="username" placeholder="Name"/>
  <br/>
  <label>Page Description</label>
  <textarea class="form-control" id="TextArea" required ngModel #description="ngModel"
            name="description" [(ngModel)]="page.description" placeholder="Description" rows="3"></textarea>
  <br/>
  <a class="btn btn-success btn-block" id="website-edit-button" (click)="this.editPage(page)">Update</a>
  <a class="btn btn-warning btn-block" id="website-delete-button" (click)="this.deletePage(page._id)">Delete</a>
</div>

<footer id="gray-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawsome_icon" id="user-blue"></i>
    </a>
  </div>
</footer>
</body>
