<h1 id="register-header">Register</h1>
<div class="container-fluid">
  <div *ngIf="errorFlag" class="alert alert-danger"> {{errorMsg}}</div>
  <form (ngSubmit) = "register(v_password)" #f="ngForm">

    <input type="text" class="form-control" required [(ngModel)]="user.username" name="username" #username="ngModel"
           id="usernameInput" placeholder="username">
    <span class="help-block" *ngIf="!username.valid && username.touched"> Username is required. </span>
  <br/>
    <input type="password" class="form-control" required ngModel #password="ngModel" name="password"
           [(ngModel)]="user.password" id="passwordInput" placeholder="password">
    <span class="help-block" *ngIf="!password.valid && password.touched"> Password is required. </span>
    <br/>
    <input type="password" class="form-control" required [(ngModel)]="v_password" name="v_password"
           id="passwordInput2" placeholder="verify password">
  <br/>

    <a class="btn btn-primary btn-block" id="register-button" (click)="register(v_password)">Register</a>
    <a class="btn btn-warning btn-block" id="cancel-button" [routerLink]="['/login']">Cancel</a>
  </form>
</div>

