.container-fluid:hover {
    text-decoration: none;
}
#profile-gray {
    padding: 10px;
    display: inline-block;
    background-color: #DDDDDD;
}
#profile-header-gray {
    font-size: 1.7em;
    color: dimgray;
}
#back-chevron-gray {
    float: left;
    color: dimgray;
}
#check-icon-gray {
    float:right;
    color: dimgray;
}
#bulletLessList {
    list-style-type: none;
    color: #428bca;
}
#cog-position {
    float:right;
    margin-right: .5em;
}
#gray-footer {
    background-color: #DDDDDD;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
#user-blue {
    float: right;
    color: dodgerblue;
    padding: 15px;
}
html {
    position: relative;
    min-height: 100%;
}



