<body>
<header>
  <div class="container-fluid" id="profile-gray" style="display: inline-block">
    <h1 id="profile-header-gray">&nbsp; Widget Edit
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
        <i class="fas fa-chevron-left fontawsome_icon" id= "back-chevron-gray"></i>
      </a>
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
        <i class="fas fa-check fontawsome_icon" id="check-icon-gray"></i>
      </a>
    </h1>
  </div>
</header>
<br />

<div class="container">
  <form>
    <div class="form-group">
      <label for="youtube-name">Name</label>
      <input [(ngModel)]="widget['name']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="youtube-text">Text</label>
      <input [(ngModel)]="widget['text']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-text" placeholder="Text">
    </div>
    <div class="form-group">
      <label for="youtube-URL">URL</label>
      <input [(ngModel)]="widget['url']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-URL" placeholder="URL">
    </div>
    <div class="form-group">
      <label for="youtube-width">Width</label>
      <input [(ngModel)]="widget['width']"
             [ngModelOptions]="{standalone: true}"
             type="text" class="form-control" id="youtube-width" placeholder="100%">
    </div>
  </form>
  <a (click)="update()" class="btn btn-success btn-block" id="website-edit-button">Update</a>
  <a (click)="delete()" class="btn btn-warning btn-block" id="website-delete-button">Delete</a>
</div>
<footer id="gray-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawsome_icon" id="user-blue"></i>
    </a>
  </div>
</footer>
</body>
