<body>
<header>
  <div class="container-fluid" id="profile-blue">
    <h1 id="profile-header">Profile
      <a [routerLink]="['/profile', user._id]">
        <i class="fas fa-check fontawsome_icon" id="check-icon"></i>
      </a>
    </h1>
  </div>
</header>
<br />
  <div class="container-fluid">
    <h2> User: {{user.username}} </h2>
    <br/>
    <label>Username</label>
    <input [(ngModel)]="user.username" type="text" class="form-control" id="username" placeholder="Alice"/>
    <br/>
    <label>Password</label>
    <input [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="password"/>
    <br/>
    <label>First Name</label>
    <input [(ngModel)]="user.firstName" class="form-control" id="firstName" placeholder="First Name"/>
    <br/>
    <label>Last Name</label>
    <input [(ngModel)]="user.lastName" class="form-control" id="lastName" placeholder="Last Name"/>
    <br/>
    <label>Email</label>
    <input [(ngModel)]="user.email" class="form-control" id="email" placeholder="Email"/>
    <br/>
    <a class="btn btn-success btn-block" id="update-button" (click)="this.updateUser(user)">Update</a>
    <a class="btn btn-primary btn-block" routerLink="/profile/{{user._id}}/website">Websites</a>
    <a class="btn btn-warning btn-block" id="logout-button" [routerLink]="['/login']">Logout</a>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
<footer id="blue-footer">
    <i class="fas fa-user fontawsome_icon" id="user-white"></i>
</footer>
</body>
