<body>
<header>
  <div class="container-fluid" id="profile-gray">
    <h1 id="profile-header-gray">&nbsp;&nbsp; Choose Widget
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
        <i class="fas fa-chevron-left fontawsome_icon" id="back-chevron-gray"></i>
      </a>
    </h1>
  </div>
</header>
<br/>
  <ul id="bulletLessList">
    <li (click)="this.addWidgetHeader()"> Header</li>
    <li (click)="this.addWidgetImage()"> Image</li>
    <li (click)="this.addWidgetVideo()"> YouTube</li>
    <!--Commented out as it needs a new component and that isn't in the homework structure
    <li (click)="this.addWidgetHTML()"> HTML</li>-->
  </ul>
  <br/>
<footer id="gray-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawsome_icon" id="user-blue"></i>
    </a>
  </div>
</footer>
