<header>
  <div class="container-fluid" id="profile-gray">
    <h1 id="profile-header-gray">&nbsp;&nbsp; New Page
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
        <i class="fas fa-chevron-left fontawsome_icon" id= "back-chevron-gray"></i>
      </a>
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
        <i class="fas fa-check fontawsome_icon" id="check-icon-gray"></i>
      </a>
    </h1>
  </div>
</header>
<br/>
<div class="container-fluid">
  <div *ngIf="errorFlag" class="alert alert-success"> {{successMsg}} </div>
  <form> <!--(ngSubmit) = "addPage()" #f="ngForm"-->
    <label>Page Name</label>
    <input [(ngModel)] = "currentPage.name" [ngModelOptions]="{standalone: true}" type="text"
           class="form-control" id="page-name" placeholder="Page Name">

    <br/>
    <label>Page Description</label>
    <input [(ngModel)] = "currentPage.description" [ngModelOptions]="{standalone: true}" type="text"
           class="form-control" id="page-title" placeholder="Page Description">
    <br/>
    <a class="btn btn-success btn-block" id="addPage-button" (click)="create()">Add</a>
    <a class="btn btn-primary btn-block" routerLink="/profile/{{userId}}/website/{{websiteId}}/page">Pages</a>
  </form>
</div>
<footer id="gray-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawsome_icon" id="user-blue"></i>
    </a>
  </div>
</footer>
