.container-fluid:hover {
    text-decoration: none;
}
#profile-gray {
    padding: 10px;
    display: inline-block;
    background-color: #DDDDDD;
}
#profile-header-gray {
    font-size: 1.7em;
    color: #696969
}
#back-chevron-gray {
    float: left;
    color: dimgray;
}
#check-icon-gray {
    float:right;
    color: dimgray;
}
#website-edit-button {
    color: white;
}
#website-delete-button {
    color: white;
}
#user-blue {
    float: right;
    color: dodgerblue;
    padding: 15px;
}
#gray-footer {
    background-color: #DDDDDD;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
