<body>
<header>
  <div class="container-fluid" id="profile-blue">
    <h1 id="profile-header">&nbsp;&nbsp; Edit Website
      <a routerLink="/profile/{{userId}}/website">
        <i class="fas fa-chevron-left fontawsome_icon" id= "back-chevron"></i>
      </a>
      <a routerLink="/profile/{{userId}}/website">
        <i class="fas fa-check fontawsome_icon" id="check-icon"></i>
      </a>
    </h1>
  </div>
</header>
<br />
<div class="container-fluid">
  <br />
  <label>Website Name</label>
  <input [(ngModel)]="currentWeb['name']" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
         id="website-name" placeholder="Name">
  <br/>
  <label>Website Description</label>
  <textarea [(ngModel)]="currentWeb['description']" [ngModelOptions]="{standalone: true}" id="website-description" class="form-control" rows="5"
            placeholder="Description"></textarea>
  <br/>
  <a class="btn btn-success btn-block" id="website-edit-button" (click)="update()">Update</a>
  <a class="btn btn-warning btn-block" id="website-delete-button" (click)="delete()">Delete</a>
</div>
<footer id="blue-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawsome_icon" id="user-white"></i>
    </a>
  </div>
</footer>
</body>


