<body>
<header>
  <div class="container-fluid" id="profile-gray">
    <h1 id="profile-header-gray">&nbsp;&nbsp; Widgets
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page">
        <i class="fas fa-chevron-left fontawesome_icon" id="back-chevron-gray"></i>
      </a>
      <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new">
        <i class="fas fa-plus fontawesome_icon" id="check-icon-gray"></i>
      </a>
    </h1>
  </div>
</header>
<br/>
<div class="container cl-container-padding">
  <div class="widget-list" appSortable (newIndexes)="sortWidget($event)">
    <div *ngFor="let widget of widgets">
      <div [ngSwitch]="widget.widgetType">
        <div class="float-right">
          <div class="widget-cog-edit">
            <a routerLink="/profile/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget['_id']}}">
              <i class="fas fa-cog fontawesome_icon"></i>
            </a>
          </div>
        </div>
        <div *ngSwitchCase="'HEADING'">
          <div [ngSwitch]="widget.size">
            <div *ngSwitchCase="1">
              <h1>{{widget.text}}</h1>
            </div>
            <div *ngSwitchCase="2">
              <h2>{{widget.text}}</h2>
            </div>
            <div *ngSwitchCase="3">
              <h3>{{widget.text}}</h3>
            </div>
            <div *ngSwitchCase="4">
              <h4>{{widget.text}}</h4>
            </div>
            <div *ngSwitchCase="5">
              <h5>{{widget.text}}</h5>
            </div>
            <div *ngSwitchCase="6">
              <h6>{{widget.text}}</h6>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'IMAGE'">
          <img  style="width: 540px; height: 360px;" [src]="widget.url">
        </div>
        <div class="youtube-widget-holder">
          <div *ngSwitchCase="'YOUTUBE'" class= "youtube-widget">
            <iframe width="560" height="315" [src]="widget.url | safe" frameborder="0" allowfullscreen></iframe>
            <!--<object style=" float: none; clear: both; margin: 2px auto;"
                    [data]="getUrl(widget)"></object>-->
          </div>
        </div>

        <div *ngSwitchCase="'HTML'" [innerHTML]="widget.text">
        </div>
        <div *ngSwitchCase="'TEXT'">
          <div *ngIf="widget.formatted">
            <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
          </div>
          <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)" placeholder="{{widget.placeholder}}"
                 class="form-control"/>
          <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                    rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                    class="form-control">{{widget.text}}</textarea>
        </div>
        <p *ngSwitchDefault><br></p>
      </div>
    </div>
  </div>
</div>
<footer id="gray-footer">
  <div class="container-fluid">
    <a routerLink="/profile/{{userId}}">
      <i class="fas fa-user fontawesome_icon" id="user-blue"></i>
    </a>
  </div>
</footer>
</body>
